<div class="row">
  <div class="col-md-8">
    <h1>Thank you !</h1>
    <p>
      Your ad has been validated.
    </p>
    <p>
      It is now available on our website.
    </p>
    <p>
      You can view it in
      <%= link_to 'Click here', @trip %>
    </p>
    <br/>
    <p>
      We've sent you an ad management email so you can edit or delete it if needed.
    </p>
  </div>
</div>
