<br/>
<%= flash_messages %>
<div class="row">
  <div class="col-md-8">
    <h1>Thank you !</h1>
    <p>
      Your ad has been deleted.
    </p>
  </div>
  <div class="col-md-4">
    <%= render 'shortcuts'  %>
  </div>
</div>
