<br>
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Last trips
          </h3>
        </div>
        <div class="panel-body" style="padding: 0">
          <%= render @trips %>
        </div>
      </div>
    </div>
  </div>
</br>
