<% content_for :jumbotron do %>
  <div class="jumbotron small-jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <%= render partial: 'search/form', locals: { 'large_inputs': false } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<h3>
  <%= "#{pluralize(Trip.count, 'carpooling', 'carpools')} trips to the site" %>
</h3>
<hr class="trip-list"/>
<%= render @trips %>
