<% content_for :search_zone do %>
  <div class="jumbotron small-jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
          <%= render partial: 'search/form', locals: { 'large_inputs': false } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br/>
<% if @search.valid? %>
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= "#{pluralize(@trips.count, 'carpooling', plural: 'carpools')} from #{@search.from_city} to #{@search.to_city}" %>
          </h3>
        </div>
        <div class="panel-body" style="padding: 0">
          <%= render @trips %>
        </div>
      </div>
    </div>
  </div>
<% end %>