<% content_for :meta do %>
  <title>Why the association Free Carpool?</title>
  <meta content="Purpose of the association Free Carpool, principles and functioning" name="description"/>
  <meta content="Free Carpool Association" name="author"/>
<% end %>
<h1>The association Free Carpool</h1>
