<% content_for :search_zone do %>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h2>Find your carpool</h2>
          <p>Free, community and free ridesharing.</p>
          <%= render partial: 'search/form', locals: { 'large_inputs': true } %>
        </div>
        <div class="col-md-3">
          <div class="publish">
            You have a car ?
            <br/>
            <br/>
            <%= link_to 'Post an ad', new_trip_path, class: 'btn btn-lg btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class='row'>
  <div class='col-md-4'>
    <div class='feature-block'>
      <h3>Without commission</h3>
      <p>
        Greater savings for drivers, really cheaper trips for passengers.
        The prices are fixed by the drivers, the site does not take any commission on the routes, we do not
        let's live by donations.
      </p>
      <p>
        <a class='btn btn-default' href='#' role='button'>More information »</a>
      </p>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='feature-block'>
      <h3>Free</h3>
      <p>
         We guarantee that :
      </p>
      <ul>
        <li>the platform is a common good: we will never be bought or sides in the stock markete ;</li>
        <li>governance of the platform is community-based ;</li>
        <li>our community contributes to the protection of the environment ;</li>
        <li>platform contributes to the social link between carpoolers.</li>
      </ul>
      <p>
        <a class='btn btn-default' href='#' role='button'>More information »</a>
      </p>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='feature-block'>
      <h3>Communal</h3>
      <p>
        The Free Carpool service is maintained and managed by a community of volunteer devloppers, designers, communicators
        who believe that carpooling is a wonderful invention but that it must stay in the hands
        citizens and not controlled by a private company listed on the stock market.
      </p>
      <p>
        <a class='btn btn-default' href='#' role='button'>More information »</a>
      </p>
    </div>
  </div>
</div>